ci:
  autofix_commit_msg: "chore: pre-commit.ci auto fixes"
  autofix_prs: true
  autoupdate_schedule: monthly
  autoupdate_commit_msg: "chore(deps-dev): pre-commit autoupdate"
  skip:
  - uv-lock

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
        exclude: "\\.vscode/.*.json"
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/tox-dev/pyproject-fmt
    rev: "v2.11.1"
    hooks:
      - id: pyproject-fmt

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.14.7"
    hooks:
      - id: ruff-check
        args: [--fix, --exit-non-zero-on-fix, --show-fixes]
      - id: ruff-format

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.0
    hooks:
      - id: mypy
        pass_filenames: true
        language: python
        additional_dependencies:
        - types-requests==2.32.4.20250913

  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: "0.9.14"
    hooks:
      - id: uv-lock
      - id: uv-sync
