name: Test tap-jotform

on:
  push:
    branches: [main]
    paths:
      - tap_jotform/**
      - tests/**
      - noxfile.py
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yml
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - tap_jotform/**
      - tests/**
      - noxfile.py
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yml

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=nox
  NOX_VERSION: 2025.11.12
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.28

jobs:
  run:
    runs-on: ubuntu-24.04
    env:
      NOXSESSION: run
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          version: ${{ env.UV_VERSION }}
      - name: Run Nox
        env:
          TAP_JOTFORM_API_KEY: ${{ secrets.TAP_JOTFORM_API_KEY }}
          TAP_JOTFORM_API_URL: "https://api.jotform.com"
        run: >
          uvx
          --managed-python
          --with nox==${{ env.NOX_VERSION }}
          nox

      - name: Upload request cache
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: requests-cache
          path: http_cache.sqlite

  tests:
    runs-on: ubuntu-24.04
    needs: run
    env:
      NOXSESSION: ${{ matrix.session }}
      NOXFORCEPYTHON: ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - {python-version: "3.14", session: "typing"}
        - {python-version: "3.14", session: "tests"}
        - {python-version: "3.13", session: "tests"}
        - {python-version: "3.12", session: "tests"}

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
      with:
        version: ${{ env.UV_VERSION }}
    - name: Download request cache
      uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
      with:
        name: requests-cache

    - name: Run Nox
      env:
        TAP_JOTFORM_API_KEY: ${{ secrets.TAP_JOTFORM_API_KEY }}
        TAP_JOTFORM_API_URL: "https://api.jotform.com"
      run: >
        uvx
        --managed-python
        --python ${{ matrix.python-version }}
        --with nox==${{ env.NOX_VERSION }}
        nox --verbose
