name: Test tap-jotform

on:
  push:
    branches: [main]
    paths:
      - tap_jotform/**
      - tests/**
      - noxfile.py
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yml
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - tap_jotform/**
      - tests/**
      - noxfile.py
      - pyproject.toml
      - uv.lock
      - .github/workflows/test.yml

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1"
  # renovate: datasource=pypi depName=nox
  NOX_VERSION: 2025.10.16
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.9.5

jobs:
  run:
    runs-on: ubuntu-24.04
    env:
      NOXSESSION: run
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
        with:
          version: ${{ env.UV_VERSION }}
      - name: Run Nox
        env:
          TAP_JOTFORM_API_KEY: ${{ secrets.TAP_JOTFORM_API_KEY }}
          TAP_JOTFORM_API_URL: "https://api.jotform.com"
        run: >
          uvx
          --managed-python
          --with nox==${{ env.NOX_VERSION }}
          nox

      - name: Upload request cache
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: requests-cache
          path: http_cache.sqlite

  tests:
    runs-on: ubuntu-24.04
    needs: run
    env:
      NOXSESSION: ${{ matrix.session }}
      NOXFORCEPYTHON: ${{ matrix.python-version }}
    strategy:
      fail-fast: false
      matrix:
        include:
        - {python-version: "3.14", session: "typing"}
        - {python-version: "3.14", session: "tests"}
        - {python-version: "3.13", session: "tests"}
        - {python-version: "3.12", session: "tests"}

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41 # v7.1.2
      with:
        version: ${{ env.UV_VERSION }}
    - name: Download request cache
      uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
      with:
        name: requests-cache

    - name: Run Nox
      env:
        TAP_JOTFORM_API_KEY: ${{ secrets.TAP_JOTFORM_API_KEY }}
        TAP_JOTFORM_API_URL: "https://api.jotform.com"
      run: >
        uvx
        --managed-python
        --python ${{ matrix.python-version }}
        --with nox==${{ env.NOX_VERSION }}
        nox --verbose
